<div style="background-image: url('/assets/images/twelve-card.background3.jpg'); background-size: cover;">
  <div class=" pt-5 d-flex">
    <div style="padding-left: 3%;">
      <table class="table table-striped table-hover" style="max-width: 200px; background-color: rgba(238, 255, 6, 0.336);">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" style="padding-left: 35px;"><img src="assets/images/clubs.png" width="50" alt=""></th>
          <th scope="col" style="padding-left: 35px;"><img src="assets/images/diamond.png" width="60" alt=""></th>
          <th scope="col" style="padding-left: 35px;"><img src="assets/images/spade.png" width="60"  alt=""></th>
          <th scope="col" style="padding-left: 35px;"><img src="assets/images/heart.png" width="80" alt=""></th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th scope="row"><img src="assets/images/J.png" width="50" alt=""></th>
<!--          <td><input #input11 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input11.value,1)"></td>-->
<!--          <td><input #input12 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input12.value,2)"></td>-->
<!--          <td><input #input13 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input13.value,4)"></td>-->
<!--          <td><input #input14 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input14.value,3)"></td>-->
          <td><input [(ngModel)]= "inputData[0]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[0],1)"></td>
          <td><input [(ngModel)]= "inputData[1]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[1],2)"></td>
          <td><input [(ngModel)]= "inputData[2]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[2],4)"></td>
          <td><input [(ngModel)]= "inputData[3]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[3],3)"></td>
        </tr>
        <tr>
          <th scope="row"><img src="assets/images/Q.png" width="50" alt=""></th>
<!--          <td><input #input21 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input21.value,5)"></td>-->
<!--          <td><input #input22 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input22.value,6)"></td>-->
<!--          <td><input #input23 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input23.value,8)"></td>-->
<!--          <td><input #input24 type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(input24.value,7)"></td>-->

          <td><input [(ngModel)]= "inputData[4]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[4],5)"></td>
          <td><input [(ngModel)]= "inputData[5]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[5],6)"></td>
          <td><input [(ngModel)]= "inputData[6]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[6],8)"></td>
          <td><input [(ngModel)]= "inputData[7]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[7],7)"></td>
        </tr>
        <tr>
          <th scope="row"><img src="assets/images/K.png" width="50" alt=""></th>
          <td><input [(ngModel)]= "inputData[8]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[8],9)"></td>
          <td><input [(ngModel)]= "inputData[9]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[9],10)"></td>
          <td><input [(ngModel)]= "inputData[10]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[10],12)"></td>
          <td><input [(ngModel)]= "inputData[11]" type="text" style="width: 100px; height: 70px; background-color: rgb(241, 143, 204);" (change)="detailsData(inputData[11],11)"></td>
        </tr>
      </tbody>
      </table>
      <button class="btn btn-light" (click)="saveUserInput()">save</button>

    </div>


    <div style="padding-left: 3%;">
      <button class="btn btn-primary" (click)="cardResultVisibility=!cardResultVisibility">{{cardResultVisibility?"Hide":"Card Result"}}</button>
      <div *ngIf="cardResultVisibility">
        <app-card-result></app-card-result>
      </div>

    </div>



  </div>
</div>

