<div class="container pt-5">
  <table class="table table-striped table-hover" style="max-width: 200px;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" style="padding-left: 35px;"><img src="assets/images/clubs.png" width="50" alt=""></th>
        <th scope="col" style="padding-left: 35px;"><img src="assets/images/diamond.png" width="60" alt=""></th>
        <th scope="col" style="padding-left: 35px;"><img src="assets/images/spade.png" width="60"  alt=""></th>
        <th scope="col" style="padding-left: 35px;"><img src="assets/images/heart.png" width="80" alt=""></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row"><img src="assets/images/J.png" width="50" alt=""></th>
        <td><input #input11 type="text" style="width: 100px; height: 70px;" (change)="detailsData(input11.value)"></td>
        <td><input #input11 type="text" style="width: 100px; height: 70px;"></td>
        <td><input #input11 type="text" style="width: 100px; height: 70px;"></td>
        <td><input #input11 type="text" style="width: 100px; height: 70px;"></td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/images/Q.png" width="50" alt=""></th>
        <td><input #input11 type="text" style="width: 100px; height: 70px;"></td>
        <td><input #input11 type="text" style="width: 100px; height: 70px;"></td>
        <td><input type="text" style="width: 100px; height: 70px;"></td>
        <td><input type="text" style="width: 100px; height: 70px;"></td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/images/K.png" width="50" alt=""></th>
        <td><input type="text" style="width: 100px; height: 70px;"></td>
        <td><input type="text" style="width: 100px; height: 70px;"></td>
        <td><input type="text" style="width: 100px; height: 70px;"></td>
        <td><input type="text" style="width: 100px; height: 70px;"></td>
      </tr>
    </tbody>
  </table>

  <button (click)="saveUserInput()">save</button>
</div>


