

  <div class=""  *ngIf="!isAuthenticated">
    <!-- <img src="assets/images/lottoLogo.png" width="120" style="padding-bottom: 0px;" alt="">
    <span class="h1" style="font-size: 4vw; text-align: center;color: white;">Smart Lotto</span>
    <img src="assets/images/lottoLogo.png" width="120" style="padding-bottom: px;" alt=""> -->
    <mat-toolbar color="golden" style="background-color: blue;background-position: center top;width: 100%;max-width: 1360px; position: relative; background-repeat: no-repeat;">

      <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
        <div fxLayout="row">

          <div fxLayout="row" class="mb-2 mt-1" style="color: white;">
            <div class="" style="">
            <!-- <div>SM010003</div> -->
            <div class="d-flex">
              <!-- <div class="col-4">Hide Bal:</div> -->
              <!-- <div class="col-4 ml-4">Rs.0.16</div> -->
            </div>
          </div>


          </div>

        </div>
        <div fxLayout="" class="ml-2">
          <img src="assets/images/lottoLogo.png" width="75" alt="">
          <div style="font-weight: bolder; font-size: 50px; padding-top: 10px; color: white;" class="mt-2">Smart Lotto</div>
          <img src="assets/images/lottoLogo.png" width="75" alt="">

        </div>
        <div fxLayout="row" style="border-radius: 8px; color: white;">
          <div class="" style="">
            <!-- <div class="ml-3">Time Left : 00:13:47</div> -->
            <div class="">
              <!-- <div class="col-4 ml-5">Date</div> -->
              <div class="d-flex">
                <!-- <div>09/11/2021</div> -->
                <!-- <div class="ml-3">9:31:13</div> -->
              </div>

            </div>
          </div>
        </div>


      </mat-toolbar-row>
    </mat-toolbar>
  </div>





<div class="navbar" *ngIf="isAuthenticated">
  <!--For Public-->
  <mat-toolbar color="secondary" [ngStyle]="myStyle()" *ngIf="false">
    <!-- for desktop view -->
    <mat-nav-list class="list-horizontal" *ngIf="!deviceXs">

      <mat-list-item>
        <button mat-button
                [routerLink]="['/']"
                routerLinkActive="MyActiveMenu"
                [routerLinkActiveOptions]="{exact: true}">Home</button>
      </mat-list-item>


      <mat-list-item>
        <button mat-button mat-raised-button
                [routerLink]="['/auth']"
                routerLinkActive="MyActiveMenu">Login</button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      </mat-list-item>
    </mat-nav-list>
    <!-- for mobile view -->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
       <mat-menu #menu="matMenu" style="width: 20px !important;">
         <button mat-menu-item [routerLink]="['/']" routerLinkActive="MyActiveMenu" [routerLinkActiveOptions]="{exact: true}" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
         <!-- <button mat-button
         [routerLink]="['/']"
         routerLinkActive="MyActiveMenu"
         [routerLinkActiveOptions]="{exact: true}">Home</button> -->
         <!-- <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button> -->
         <button mat-button mat-raised-button
                [routerLink]="['/auth']"
                routerLinkActive="MyActiveMenu"  style="font-size: small; line-height: 18px !important;">Login</button>
       </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>


  <!--For admin-->
  <mat-toolbar color="accent" *ngIf="isAuthenticated && isAdmin">
    <!--    for desktop view-->
    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">
        <button mat-button [routerLink]="['cPanel']">
          <i class="bi bi-gem" style="font-size: 25px;"></i>
          <span class="logo">Admin</span>
        </button>

        <div class="clock-container clock2" *ngIf="false">
          <div class="time">{{alwaysTime}}</div>
        </div>

<!--        <div *ngIf="!deviceXs">-->
<!--          <button mat-button-->
<!--                  [routerLink]="['/']"-->
<!--                  routerLinkActive="MyActiveMenu"-->
<!--                  [routerLinkActiveOptions]="{exact: true}">Home</button>-->
<!--        </div>-->


        <mat-list-item *ngIf="!deviceXs">
          <button mat-menu-item
                  [routerLink]="['/']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home</button>
        </mat-list-item>

        <mat-list-item>
          <button mat-menu-item [matMenuTriggerFor]="menuLedger">Master<i class="bi bi-caret-down"></i></button>
        </mat-list-item>
        <mat-menu #menuLedger="matMenu" [overlapTrigger]="false">
          <button mat-menu-item [routerLink]="['/masterStockist']" routerLinkActive="MyActiveMenu">Stockist</button>
          <button mat-menu-item [routerLink]="['/masterTerminal']" routerLinkActive="MyActiveMenu">terminal</button>
        </mat-menu>


        <mat-list-item>
          <button mat-menu-item [matMenuTriggerFor]="menuGameSettings">Game settings<i class="bi bi-caret-down"></i></button>
        </mat-list-item>
        <mat-menu #menuGameSettings="matMenu" [overlapTrigger]="false">
          <button mat-menu-item [routerLink]="['/payoutSettings']" routerLinkActive="MyActiveMenu">Payout setting</button>
          <button mat-menu-item [routerLink]="['/manual']" routerLinkActive="MyActiveMenu" [routerLinkActiveOptions]="{exact: true}">Manual result</button>
          <button mat-menu-item [routerLink]="['/manual']" routerLinkActive="MyActiveMenu" [routerLinkActiveOptions]="{exact: true}">Message</button>
        </mat-menu>


        <mat-list-item *ngIf="!deviceXs">
          <button mat-menu-item
                  [routerLink]="['/cPanelReports']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Reports</button>
        </mat-list-item>


        <mat-list-item *ngIf="!deviceXs">
          <button mat-menu-item
                  [routerLink]="['/resultCPanel']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Result</button>
        </mat-list-item>



      </div>
      <div fxLayout="row">
        <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>
      </div>
    </mat-toolbar-row>
    <!--    for mobile view-->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
      <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;"><i class="ri-smartphone-line"></i>Admin</span>

      <mat-menu #menu="matMenu" style="width: 20px !important;">
        <button mat-menu-item [routerLink]="['admin']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
        <button mat-menu-item [routerLink]="['manual']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Manual</button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
  <!--  header for admin is completed-->


  <!--For Developer-->
  <mat-toolbar style="background-color: #7E7E7E;" *ngIf="isAuthenticated && isDeveloper">
    <!-- for desktop view -->
    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">
          <button mat-button style="background-color: rgba(255,215,0,0.05)" [routerLink]="['developer']">
            <i class="bi bi-gear-wide-connected" style="font-size: 25px;"></i>
            <span class="logo">Developer</span>
          </button>
          <div class="clock-container clock2" *ngIf="alwaysTime">
            <div class="time">{{alwaysTime}}</div>
          </div>
          <div *ngIf="!deviceXs">
            <button mat-button
                    [routerLink]="['/']"
                    routerLinkActive="MyActiveMenu"
                    [routerLinkActiveOptions]="{exact: true}">Home</button>

          </div>
      </div>
      <div>

          <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>
      </div>
    </mat-toolbar-row>
    <!-- for mobile view -->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
      <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;"><i class="ri-smartphone-line"></i>Developer</span>
       <mat-menu #menu="matMenu" style="width: 20px !important;">
         <button mat-menu-item [routerLink]="['developer']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
         <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
       </mat-menu>
    </mat-toolbar-row>

  </mat-toolbar>

  <!--For Stockist-->
  <mat-toolbar color="accent" *ngIf="isAuthenticated && isStockist">

    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">
        <button mat-button [routerLink]="['cPanel']">
          <i class="bi bi-gem" style="font-size: 25px;"></i>
          <span class="logo">Stockiest</span>
        </button>

        <div class="clock-container clock2" *ngIf="false">
          <div class="time">{{alwaysTime}}</div>
        </div>

        <!--        <div *ngIf="!deviceXs">-->
        <!--          <button mat-button-->
        <!--                  [routerLink]="['/']"-->
        <!--                  routerLinkActive="MyActiveMenu"-->
        <!--                  [routerLinkActiveOptions]="{exact: true}">Home</button>-->
        <!--        </div>-->


        <mat-list-item *ngIf="!deviceXs">
          <button mat-menu-item
                  [routerLink]="['/']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home</button>
        </mat-list-item>

        <mat-list-item>
          <button mat-menu-item [matMenuTriggerFor]="menuLedger">Master<i class="bi bi-caret-down"></i></button>
        </mat-list-item>
        <mat-menu #menuLedger="matMenu" [overlapTrigger]="false">
<!--          <button mat-menu-item [routerLink]="['/stockiestMaster']" routerLinkActive="MyActiveMenu">Stockist</button>-->
<!--          <button mat-menu-item [routerLink]="['/stockiestMaster']" routerLinkActive="MyActiveMenu">Stockist2</button>-->
          <button mat-menu-item [routerLink]="['/stockiestMasterTerminal']" routerLinkActive="MyActiveMenu">terminal</button>
        </mat-menu>


<!--        <mat-list-item>-->
<!--          <button mat-menu-item [matMenuTriggerFor]="menuGameSettings">Game settings<i class="bi bi-caret-down"></i></button>-->
<!--        </mat-list-item>-->
<!--        <mat-menu #menuGameSettings="matMenu" [overlapTrigger]="false">-->
<!--          <button mat-menu-item [routerLink]="['/payoutSettings']" routerLinkActive="MyActiveMenu">Payout setting</button>-->
<!--          <button mat-menu-item [routerLink]="['/manual']" routerLinkActive="MyActiveMenu" [routerLinkActiveOptions]="{exact: true}">Manual result</button>-->
<!--          <button mat-menu-item [routerLink]="['/manual']" routerLinkActive="MyActiveMenu" [routerLinkActiveOptions]="{exact: true}">Message</button>-->
<!--        </mat-menu>-->


        <mat-list-item *ngIf="!deviceXs">
          <button mat-menu-item
                  [routerLink]="['/stockiestReport']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Reports</button>
        </mat-list-item>


        <mat-list-item *ngIf="!deviceXs">
          <button mat-menu-item
                  [routerLink]="['/stockiestResult']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Result</button>

        </mat-list-item>



      </div>
      <div fxLayout="row">
        <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>
      </div>
    </mat-toolbar-row>
    <!--    for mobile view-->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
      <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;"><i class="ri-smartphone-line"></i>Admin</span>

      <mat-menu #menu="matMenu" style="width: 20px !important;">
        <button mat-menu-item [routerLink]="['admin']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
        <button mat-menu-item [routerLink]="['manual']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Manual</button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
      </mat-menu>

    </mat-toolbar-row>


<!--    &lt;!&ndash; for dektop view &ndash;&gt;-->
<!--    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">-->
<!--      <div fxLayout="row">-->
<!--        <button mat-button [routerLink]="['stockistCPanel']">-->
<!--          <i class="bi bi-person-fill" style="font-size: 25px;"></i>-->
<!--          <span class="logo">Stockist</span>-->
<!--        </button>-->
<!--        <div class="clock-container clock2" *ngIf="alwaysTime">-->
<!--          <div class="time">{{alwaysTime}}</div>-->
<!--        </div>-->
<!--        <div *ngIf="!deviceXs">-->
<!--          <button mat-button-->
<!--                  [routerLink]="['/']"-->
<!--                  routerLinkActive="MyActiveMenu"-->
<!--                  [routerLinkActiveOptions]="{exact: true}">Home</button>-->
<!--        </div>-->
<!--      </div>-->

<!--      <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>-->

<!--    </mat-toolbar-row>-->
<!--    &lt;!&ndash; for mobile view &ndash;&gt;-->
<!--    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">-->
<!--      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>-->
<!--      <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;">Stockist</span>-->

<!--       <mat-menu #menu="matMenu" style="width: 20px !important;">-->
<!--         <button mat-menu-item [routerLink]="['stockist']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>-->
<!--         <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>-->
<!--       </mat-menu>-->
<!--    </mat-toolbar-row>-->

  </mat-toolbar>





  <!--For Terminal-->
  <mat-toolbar color="golden" style="background-color: blue;background-position: center top;width: 100%;max-width: 1360px; position: relative; background-repeat: no-repeat;" *ngIf="isAuthenticated && isTerminal">

    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">

        <div fxLayout="row" class="mb-2 mt-1" style="color: white;">
          <div class="" style="">
          <div>SM010003</div>
          <div class="d-flex">
            <div class="col-4">Bal:</div>
            <div class="col-4 ml-4">Rs.0.16</div>
          </div>
        </div>


        </div>

      </div>
      <div fxLayout="" class="ml-3">
        <img src="assets/images/lottoLogo.png" width="75" alt="">
        <div style="font-weight: bolder; font-size: 50px; padding-top: 10px; color: white;" class="mt-2">Smart Lotto</div>
        <img src="assets/images/lottoLogo.png" width="75" alt="">

        <!-- <div class="time">{{alwaysTime}}</div> -->
      </div>
      <div fxLayout="row" style="border-radius: 8px; color: white;">
        <div class="" style="">
          <div class="ml-3">Time Left : 00:13:47</div>
          <div class="">
            <div class="col-4 ml-5">Date</div>
            <div class="d-flex">
              <div>09/11/2021</div>
              <div class="ml-3">9:31:13</div>
            </div>

            <!-- <div class="col-4 ml-4">Rs.0.16</div> -->
          </div>
        </div>
      </div>

      <div fxLayout="row" style="background-color: #ff0f0f !important; border-radius: 8px;">
          <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="color: white;">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>
      </div>
    </mat-toolbar-row>
<!--    for mobile view-->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>

        <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;"><i class="ri-smartphone-line"></i>Terminal</span>

       <mat-menu #menu="matMenu" style="width: 20px !important;">
<!--          <button mat-menu-item [routerLink]="['terminal']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>-->
         <button  *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important; background-color: #ff0f0f !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
       </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
<!--  header for terminal is completed-->
</div>
